.DS_Store
.wechat_packagename
.idea/workspace.xml
.idea/libraries/
build/

test/.idea/workspace.xml
test/.idea/libraries/
test/build/
test/certificates/*

*/*-ios/*-ios.xcodeproj/xcuserdata/
*/*-ios/*-ios.xcodeproj/project.xcworkspace/xcuserdata/
openane/openane-ios/openane.xcodeproj/xcuserdata/
openane/openane-ios/openane.xcodeproj/project.xcworkspace/xcuserdata/
